@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
}

.highlight::after {
  content: '';
  @apply absolute bg-blue-300/50 h-24 w-24 rounded-full pointer-events-none;
}

body {
  background: #fff;
}

@media (max-width: 960px) {
  body::after {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: #000;
  }
}
